<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mchmistry.titisseya.mchemstry" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menutama"
            android:label="@string/title_activity_menutama" >
        </activity>
        <activity
            android:name=".materi"
            android:label="@string/title_activity_materi" >
        </activity>
        <activity
            android:name=".konsepmol"
            android:label="@string/title_activity_konsepmol" >
        </activity>
        <activity
            android:name=".soal"
            android:label="@string/title_activity_soal" >
        </activity>
        <activity
            android:name=".tabelperiodik"
            android:label="@string/title_activity_tabelperiodik" >
        </activity>
        <activity
            android:name=".reaksikimia"
            android:label="@string/title_activity_reaksikimia" >
        </activity>
        <activity
            android:name=".video"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name=".menuvideo"
            android:label="@string/title_activity_menuvideo" >
        </activity>
        <activity
            android:name=".soal2"
            android:label="@string/title_activity_soal2" >
        </activity>
        <activity
            android:name=".soal3"
            android:label="@string/title_activity_soal3" >
        </activity>
        <activity
            android:name=".video2"
            android:label="@string/title_activity_video2" >
        </activity>
        <activity
            android:name=".video3"
            android:label="@string/title_activity_video3" >
        </activity>
        <activity
            android:name=".videoperiodik"
            android:label="@string/title_activity_videoperiodik" >
        </activity>
        <activity
            android:name=".videomateri"
            android:label="@string/title_activity_videomateri" >
        </activity>
        <activity
            android:name=".materidanperubahan"
            android:label="@string/title_activity_materidanperubahan" >
        </activity>
        <activity
            android:name=".elektrokimia"
            android:label="@string/title_activity_elektrokimia" >
        </activity>
        <activity
            android:name=".nilai"
            android:label="@string/title_activity_nilai" >
        </activity>
    </application>

</manifest>
